
.itemActive:hover,
.itemActive {
  background-color: #61afe6 !important;
  color: white;
}

.box {
  display: flex;
}

.boxItem {
  flex: 1;
}

.isEssential {
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-start;
  margin-top: 5px;
}
.yixuan {
  transform: translateY(-40px);
  height: 440px !important;
}
