.content {
  display: flex;
  background-color: #fff;
  min-height: 85vh;
  padding: 20px;
  /* justify-content: space-around; */
}

/* 用户列表 */
.tableTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 10px;
}
